pytest
openai
numpy
pandas
scipy
scikit-learn
ipykernel
matplotlib
seaborn
langchain
langchain-openai
langchain_community
langgraph
pygraphviz
flake8
flake8-pyproject
pytest
torch
torch-tb-profiler
tensorboard
aiosqlite
